# World Largest Company

**Scraping the data of the world's largest companies by market capitalization**
**from companiesmarketcap.com and exporting the data to a CSV file.**

In [2]:
# Import BeautifulSoup for HTML parsing
from bs4 import BeautifulSoup

# Import requests to send http requests to the website
import requests

# Import pandas for data storage
import pandas as pd

In [3]:
# Assign the variable URL the website link
url = "https://companiesmarketcap.com/"

# Send a GET REQUESTS to fetch and get access to the webpage content
webpage = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(webpage.text, "html.parser")

In [4]:
# Extract the main page title to confirm if the content is correct
header = soup.find("h1", class_="text-center h1-title")

# Print the title text
print(header.text.strip())

Largest Companies by Marketcap

In [8]:
# Create an empty list to store column names
column_headers = []

# Locate the table header row
column_names = soup.find("tr")

# Extract and store each column header text
for columns in column_names:
    column_headers.append(columns.text)

# Print extracted column headers
print(column_headers)

['', 'Rank', 'Name', 'Market Cap', 'Price', 'Today', 'Price (30 days)', 'Country']

In [9]:
brac =[]
columns_name = soup.find("tr")
for columns in columns_name:
    brac.append(columns.text)
print(brac)

['', 'Rank', 'Name', 'Market Cap', 'Price', 'Today', 'Price (30 days)', 'Country']

In [10]:
# Set pandas to display up to 300 rows for better visibility
pd.set_option("display.max_rows", 50)

In [12]:
# Create an empty list to store scraped table rows
rows = []

# Find all table rows in the page
table_rows = soup.find_all("tr")

# Loop through table rows, skipping the header row
for column in table_rows[1:]:
    
    # Extract all table data cells within the row
    table_data = column.find_all("td")
    
    # Clean and extract text from each cell
    row_data = [data.text.strip() for data in table_data]
    
    # Append only rows that match the number of columns
    if len(row_data) == len(brac):
        rows.append(row_data)

In [13]:
# Convert the scraped data into a pandas DataFrame
DataFrame = pd.DataFrame(rows, columns=brac)

# Displaying the content of the dataframe
DataFrame

,,Rank,Name,Market Cap,Price,Today,Price (30 days),Country
0,,1,NVIDIANVDA,$4.450 T,$182.78,2.24%,,ðŸ‡ºðŸ‡¸ USA
1,,2,AppleAAPL,$3.759 T,$255.78,2.27%,,ðŸ‡ºðŸ‡¸ USA
2,,3,Alphabet (Google)GOOG,$3.701 T,$306.02,1.08%,,ðŸ‡ºðŸ‡¸ USA
3,,4,MicrosoftMSFT,$2.982 T,$401.32,0.13%,,ðŸ‡ºðŸ‡¸ USA
4,,5,AmazonAMZN,$2.133 T,$198.79,0.41%,,ðŸ‡ºðŸ‡¸ USA
...,...,...,...,...,...,...,...,...
95,,96,BoeingBA,$190.80 B,$242.96,1.51%,,ðŸ‡ºðŸ‡¸ USA
96,,97,Thermo Fisher ScientificTMO,$189.66 B,$504.82,0.98%,,ðŸ‡ºðŸ‡¸ USA
97,,98,BHP GroupBHP,$188.50 B,$73.38,0.85%,,ðŸ‡¦ðŸ‡º Australia
98,,99,Walt DisneyDIS,$187.00 B,$105.45,3.00%,,ðŸ‡ºðŸ‡¸ USA
99,,100,AirbusAIR.PA,$182.49 B,$231.19,1.24%,,ðŸ‡³ðŸ‡± Netherlands

In [14]:
# Export the DataFrame to a CSV file on the local machine
DataFrame.to_csv("LargeCompaniesByMarketCAP_data.csv", index=False)